appdirs==1.4.4
attrs==20.3.0
autoflake==1.4
black==20.8b1
cachetools==4.2.0
certifi==2020.12.5
click==7.1.2
cycler==0.10.0
h11==0.12.0
httpcore==0.12.2
httpx==0.16.1
idna==3.1
importlib-metadata==2.1.1
importmagic3==0.2.0
isort==5.7.0
jedi==0.18.0
Jinja2==2.11.2
joblib==1.0.0
kiwisolver==1.3.1
log-colorizer==1.8.6
MarkupSafe==1.1.1
matplotlib==3.3.3
mypy-extensions==0.4.3
numpy==1.19.5
openapi-client==1.0.0
openapi-python-client==0.7.3
pandas==1.3.3
parso==0.8.2
pathspec==0.8.1
Pillow==8.1.0
psutil==5.8.0
pydantic==1.7.3
pyflakes==2.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-magic==0.4.24
pytz==2021.1
PyYAML==5.4.1
regex==2020.11.13
rfc3986==1.4.0
scikit-learn==0.24.1
scipy==1.6.0
shellingham==1.3.2
six==1.15.0
sniffio==1.2.0
spark-parser==1.8.9
stringcase==1.2.0
threadpoolctl==2.1.0
toml==0.10.2
tornado==5.1.1
tornado-systemd==1.0.1
typed-ast==1.4.2
typer==0.3.2
typing-extensions==3.7.4.3
uncompyle6==3.7.4
urllib3==1.26.2
wdb==3.3.0
wdb.server==3.3.0
xdis==5.0.13
zipp==3.4.0
